.nav-bg{
  background:rgba(0, 0, 0, 0.5);

}

.links{
  text-decoration: none;
  margin-right:40px;
  color: rgb(99, 180, 194);
  font-weight: 500;
  
}
.links:hover{
  border-bottom: 1px solid;
  border-color:#3ce7de ;

}
.link-ul{
  padding-left: 30%;
}
.navbar-head{
  font-weight: 600;
  color: #fff;
}